<%= stylesheet_link_tag    'top', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="boxtypeA">
  <h3>このサイトのコンセプト</h3>
  <p>建築関係者や建築・建物が好きな人をつなぐコミュニティ</p>
  <p>誰でも無料で会員登録・利用ができます。</p>
  <p>設計を手掛けた建物の写真や図面やコンセプトなどを投稿し、建物を通して人をつなぐ。</p>
  <p>建築の知識やスキルの共有によって、より良い建物・デザインが生まれる。</p>
</div>
