<%= stylesheet_link_tag    'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<div class="boxtypeA">
  <h1>Archinect</h1>
  <div class=buttonbox>
    <div class="button1">
      <p>新規ユーザー登録</p>
    </div>
    <div class="button1">
      <p>ログイン</p>
    </div>
  </div>
</div>
