<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>example.comへようこそ, <%= @user.name %></h1>
    <p>
      example.comへの登録がが完了しました。
      あなたのユーザー名は<%= @user.login %>です。<br/>
    </p>
    <p>
      このリンクをクリックして、サイトにログインしてください: <%= @url %>.
    </p>
    <p>ご参加いただき、ありがとうございます。楽しんでください!</p>
  </body>
</html>
