<%= stylesheet_link_tag    'product/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="product_page">

  <p>投稿が完了しました。</p>
  <%= link_to "戻る", product_path(@comment.product) %>

</div>
