<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>名前: <%= @email.name %></p>
    <p>連絡先</p>
    <p>メールアドレス: <%= @email.addr %></p>

    <p>問い合わせ内容</p>
    <p><%= @email.message %></p>
  </body>
</html>
