// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_new {
             display: block;
             margin-top: 70px;
             width: 97%;
             margin-left: auto;
             margin-right: auto;

   .container {
              display: block;
              border-radius: 5px;
              padding: 20px 0;
              text-align: center;
              // background-color: #fff;

     h3 {
        letter-spacing: 0.4em;
        font-weight: bold;
         }
      h4 {
        margin-top: 15px;
        color: #68737f;
        font-size: 15px;
      }
      h5{
        line-height: 25px;
        font-size: 15px;
        margin-top: 15px;
      }
     p {
       font-size: 10px;
       letter-spacing: 0.2em;
       color: #A9A9A9;
       }
      .detail_btn {
        display: block;
        background-color: #25b9d7;
       letter-spacing: 0.3em;
       border-radius: 20px;
       line-height: 35px;
       color: #fff;
       font-weight: bold;
       font-size: 14px;
       width: 85%;
       max-width: 400px;
       margin-left: auto;
       margin-right: auto;
      }

       .field {
               margin: 25px auto;
               width: 90%;
               max-width: 400px;
               text-align: center;
            .product.form {
              width: 100%;
              max-width: 350px;
            }
             ul {
              display: flex;
                  li {
                    margin: 5px;
                    width: 115px;
                        .img {
                          width: 100px;
                        }
                        p {
                          font-size: 12px;
                        }
                  }
               }
               p {
                margin-bottom: 8px;
                    label {
                       font-size: 13px;
                       font-weight: bold;
                    }
               }
                p a {
                  font-size: 11px;
                  font-weight: bold;
                  color: #ff3b3f;
                  letter-spacing: 0;
                }
                .links {
                     a  {
                     color: #ec576b;
                     font-size: 22px;
                      }
                }

              .form {
                    display: block;
                    height: 25px;
                    border: none;
                    border-radius: 5px;
                    background-color: #fff;
                    width: 98%;
                    margin-bottom: 8px;
                     }
              .user.form {
                 margin: 15px auto;
              }
              .form.product {
                 width: 98%;
              }
              .form.small {
                width: 50%;
                margin-right: auto;
                margin-left: auto;
              }


             .text {
                    height: 200px;
                    width: 100%;
                    }
                  .area {
                    height: 350px;
                  }

                  p {
                    font-size: 14px;
                    letter-spacing: 0.2em;
                    color: #000000;
                    }

           select {
                   display: block;
                   width: 100%;
                   height: 25px;
                   margin: 0;
                   border: solid 0.5px #000000;
                   border-radius: 5px;
                   margin-top: 10px;

                      option {
                             font-size: 14px;
                             letter-spacing: 0.6em;
                             }
                      }
      }
        .field.photo{
          min-width: 250px;
            .nested-fields {
                a {
                margin-left: -35px;
                 }
             }
         }
       .img_field {
        width: 100%;
        display: none;
            ul.img_detail {
              display:block;
                li {
                  width: 95%;
                  margin-bottom: 20px;
                  margin-top: 20px;
                   .detail {
                    width: 100%;
                     .add_img {
                      margin-right: 15px;
                     }
                     .detailB {
                      padding-top: 5px;
                      width: 100%;
                       .title_detail {
                        border: none;
                        width: 100%;
                        height: 60px;
                        border-radius: 5px;
                       }
                     }
                     .user.form {
                      width: 180px;
                     }
                   }
                }
            }
            p {
              width: 100%;
            }
            .detail {
              display: flex;
              margin-bottom: 5px;
            }
            .form_detail {
              width: 100%;
              height: 350px;
              border: none;
              border-radius: 5px;
              background-color: #fff;
            }
       }
                        // ここまでが.field

                         label {
                                 input{
                                   display: none;
                                    }
                                 .tag {
                                  a {
                                    display: inline-block;
                                    background-color: #e9ebec;
                                    border-radius: 10px;
                                    margin-right: 1px;
                                    padding: 0 6px;
                                    margin-bottom: 7px;
                                    label {
                                      text-decoration: none;
                                      font-size: 10px;
                                      letter-spacing: 0.1em;
                                      color: #313335;
                                      font-weight: 450;
                                     line-height: 20px;
                                    }
                                  }
                                 input[type=checkbox]:checked + a {
                                      background-color: #25b9d7;
                                        label {
                                          color: #fff;
                                        }
                                      }
                                 }
                               }

                       .button {
                               letter-spacing: 0.3em;
                               border-radius: 20px;
                               height: 35px;
                               background-color: #251b5b;
                               color: #fff;
                               border: none;
                               font-weight: bold;
                               font-size: 14px;
                               width: 95%;
                               max-width: 400px;

                       &:hover {
                               opacity: 0.6;
                               }
                           }

                        }

             }

@media (min-width: 768px){
                     .product_new {
                                  max-width: 1200px;
                                  }
                          }






