// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//product詳細ページ

.product_page{
display: block;
margin-top: 80px;
width: 95%;
margin-left: auto;
margin-right: auto;


      .container{
                 display: block;
                 border: solid 1px #000000;
                 border-radius: 25px;
                 padding: 20px;
                 align-items: center;

           .swiper-container{
                                  max-width: 900px;
                             }

                .pagination {
                             width: 200px;
                             margin-right: auto;
                             margin-left: auto;
                             display: block;

                       .swiper-pagination-bullet {
                                                 margin: 7px;
                                                 background-color: #000000;
                                                 }
                             }

                    .proB {
                      margin-top: 50px;

                          .productA{
                            li{
                              list-style: none;
                              margin-left: -30px;
                              margin-bottom: 2px;

                                     p {
                                       font-size: 12px;
                                       display: inline-block;
                                       margin: 0;
                                       margin-right: 3px;
                                       line-height: 19px;
                                       background-color: #c5c1c0;
                                       border-radius: 3px;
                                       }

                                     a {
                                      font-size: 13px;
                                      letter-spacing: 0.3em;
                                      color: #000000;
                                     }

                            }
                          }
                    }

                 }

}
