// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//product詳細ページ


.product_page{
display: block;
margin-top: 80px;
width: 99%;
min-width: 330px;
margin-left: auto;
margin-right: auto;


      .container{
                 display: block;
                 border: solid 1px #000000;
                 border-radius: 8px;
                 padding: 8px;


                 .proA{
                      .img-container{
                                    width: 100%;
                                    height: 70vw;
                                    max-height: 650px;
                                    text-align: center;
                                    }
                           .photos {
                                    height: 100%;
                                    max-width: 100%;
                                    }
                      }


                .proB {
                       margin-top: 30px;

                            li{
                              list-style: none;
                              margin-left: -30px;
                              margin-bottom: 2px;

                                     p {
                                       font-size: 10px;
                                       display: inline-block;
                                       margin: 0;
                                       padding: 1px 3px;
                                       margin-right: 3px;
                                       background-color: #c5c1c0;
                                       border-radius: 3px;
                                       }

                                     a {
                                      font-size: 13px;
                                      letter-spacing: 0.3em;
                                      color: #000000;
                                      text_decoration: none;
                                       }
                                  text {
                                             p {
                                               margin-top: 15px;
                                               background: none;
                                               font-size: 12px;
                                               letter-spacing: 0.2em;
                                               }
                                       }

                               }
                        }
                      // ここまでがproB

                .proC {
                      margin-top: 30px;
                               .container-B {
                                          width: 100%;
                                          height: 50vw;
                                          max-height: 500px;


                                             .images {
                                                      height: 100%;

                                                     }

                                                   a {
                                                     font-size: 13px;
                                                     letter-spacing: 0.3em;
                                                     color: #000000;
                                                     text_decoration: none;
                                                     }

                                               text {
                                                       p {
                                                         background: none;
                                                         font-size: 12px;
                                                         letter-spacing: 0.2em;
                                                         margin-bottom: 50px;
                                                          }
                                                     }

                                            }
                      }
                      // ここまでがproC

                 }
          // ここまでが.container
}

@media (min-width: 768px) {
          .product_page{
                       max-width: 1200px;

                  .container{
                            padding: 20px;
                             }
                        }
}















