// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//product詳細ページ
.product_page{
display: block;
margin-top: 70px;
width: 100%;
min-width: 330px;
margin-left: auto;
margin-right: auto;
   .createpage {
    p {
      font-size: 13px;
      margin-bottom: 20px;
    }
    .btn {
      margin-bottom: 25px;
    a {
      font-size: 13px;
      text-decoration: none;
      color: #fff;
      background-color: #251b5b;
      padding: 5px 10px;
      border-radius: 4px;
      }
     }
   }

  .container{
             display: block;
             border-radius: 8px;
             width: 97%;
             margin-left: auto;
             margin-right: auto;
             background-color: #fff;
             padding-top: 20px;
       .conA {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        justify-content: space-between;
       }
        .select_btn {
      display: flex;
       width: 90%;
       max-width: 490px;
       margin-bottom: 25px;
       margin-right: auto;
       margin-left: auto;
      .detail_btn, .detail_show_btn {
        display: block;
        background-color: #251b5b;
       border-radius: 8px;
       line-height: 37px;
       color: #fff;
       font-weight: bold;
       font-size: 13px;
       letter-spacing: 0.7em;
       width: 300px;
      }
    .detail_btn {
      opacity: 0.4;
      margin-left: 4%;
    }
    }
   .proA{
    max-width: 540px;
       img.photos {
                width: 100%;
                margin: auto;
                }
        }

    .proB {
           margin-top: 0;
           padding-bottom: 25px;
           width: 100%;
           max-width: 440px;

        .profile {
          // width: 100%;
          // margin: auto;
          padding: 0 10px;
        }
          li{
            list-style: none;
            margin-bottom: 20px;
            font-size: 12px;
            letter-spacing: 0.2em;
            text-align: left;

            h4 {
              font-size: 17px;
              line-height: 25px;
              font-weight: bold;
              letter-spacing: 0.2em;
              margin-top: 10px;
            }


                   a {
                    font-size: 12px;
                    letter-spacing: 0.2em;
                    color: #000;
                    font-weight: bold;
                     }

                text p {
                    margin-top: 10px;
                    background: none;
                    font-size: 13px;
                    letter-spacing: 0.2em;
                    line-height: 20px;
                     }

                   }
        }
                      // ここまでがproB

     .proC {
       margin-top: 25px;
       text-align: center;
       padding-bottom: 20px;
             .profile {
              text-align: left;
              max-width: 700px;
              margin-right: auto;
              margin-left: auto;
                li {
                  font-size: 13px;
                  margin: 10px;
                  font-weight: bold;
                  letter-spacing: 0.2em;
                }
                      .tagA {
                        display: inline-block;
                       p {
                         display: inline-block;
                         border-radius: 10px;
                         background-color: #e9ebec;
                         padding: 5px 8px;
                         margin-bottom: 5px;
                         margin-right: 2px;
                           a.tags {
                            text-decoration: none;
                            font-size: 10px;
                            letter-spacing: 0.15em;
                            color: #313335;
                            font-weight: 450;
                           }
                         }
                         &:hover {
                          p {
                            background-color: #25b9d7;
                          }
                          a.tags {
                            color: #fff;
                          }
                         }
                        }
                      }
     }
// ここまでがproC
      .edituser {
        margin-top: 10px;
        a{
        color: #68737f;
        font-size: 13px;
        letter-spacing: 0.2em;
        margin: 10px;
        }
      }
         .shere-btn {
          display: flex;
          width: 97%;
          max-width: 330px;
          margin-top: 30px;
          margin-bottom: 25px;
          margin-left: auto;
          margin-right: auto;
          justify-content: space-between;
            .btn {
                  a {
                    letter-spacing: 0.1em;
                    color: #fff;
                    text-decoration: none;
                    padding: 8px 10px;
                    border-radius: 5px;
                    font-size: 13px;
                    font-weight: bold;
                  }
                  i {
                    margin-right: 3px;
                    font-size: 13px;
                  }
              }
            .facebook a {
               background-color: #073590;
               padding: 8px 16px;
              }
            .twitter a {
              background-color: #1da1f2;
              padding: 8px 13px;
            }
            .line a{
              background-color: #00c300;
            }
         }

       .proD{
         margin-top: 40px;

          .count {
            border-bottom: solid 0.7px #DDDDDD;
            p {
              font-size: 12px;
              margin-bottom: 10px;
            }
          }
       }
     }
          // ここまでが.container
}
@media (max-width: 1010px) {
  .conB {
    display: none;
  }
  .conA {
    justify-content: center;
  }
  .proA, .conB {
    margin-right: auto;
    margin-left: auto;
  }

}

@media (min-width: 1010px) {
  .detail_show_btn {
    display: none;
  }
  .conA {
    margin-top: 35px;
  }

}

@media (min-width: 768px) {
.product_page{
max-width: 1200px;

    .container{
        padding: 20px;

              .proA {
                 .swiper-button-prev,.swiper-container-rtl .swiper-button-next{
                  font-size: 45px;
                  color: #696969;
                  opacity: 0.5;
                  left: 5px;
                  right: auto;
                  }
                  .swiper-button-next,.swiper-container-rtl .swiper-button-prev{
                  right: 20px;
                  font-size: 45px;
                  color: #696969;
                  opacity: 0.5;
                  left: auto;
                  }
               }
               // ここまでがproA
            .proB{
              .profile {
                max-width: 700px;
                margin-right: auto;
                margin-left: auto;
              }

            }

            .proC {

              .text {
                max-width: 700px;
                margin-right: auto;
                margin-left: auto;
              }
            }

        .container-B {
             display: flex;
             }
      }
}
}















