<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<header>
<div class="container">
  <div class="container-small">
  <%= link_to "Archinect", root_path , :class =>"headA" %>

  <button type="button" class="headC">
  <%= fa_icon("bars") %>
  </button>
</div>

<nav class="headB">
  <ul>
    <li><a>TOP</a></li>
     <li><a>MYPAGE</a></li>
     <li><a>PHOTO</a></li>
     <li><a>USERS</a></li>
     <li><a>SEARCH</a></li>
     <li><a>LOGOUT</a></li>
     <li><a>ABOUT</a></li>
  </ul>
</nav>

</div>
</header>

