
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*= require font-awesome
*= require swiper
*= require social-share-button
*= require_self
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  font-size: 16px;
}
textarea {
  font-size: 16px;
}
.button, .btn {
  -webkit-appearance: none;
}
select {
  background: transparent;
  padding: 0 5px;
  border: 1px solid #68737f;
  background-color: #fff;
}

body {
  font-family: arial, sans-serif;
  width: 100%;
  margin: 0;
  text-align: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  min-height: 100vh;
  padding-bottom:100px;
  background-color:  #F7F7F7;
}
.headA {
  display: inline-block;
  line-height: 55px;
  font-size: 20px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 0.2em;
  font-weight: 900;
  opacity: 0.7;

}
  .headA  span:nth-child(1) { color: #df0067; }
  .headA  span:nth-child(2) { color: #251b5b; }
  .headA  span:nth-child(5) { color: #251b5b; }
  .headA  span:nth-child(4) { color: #fbbb22; }
  .headA  span:nth-child(7) { color: #251b5b; }
  .headA  span:nth-child(8) { color: #25b9d7; }

.headA:hover{
  opacity: 0.4;
}

.container-small .btn-user {
  display: flex;
  margin-right: 5px;
}
.container-small .btn-user a {
  text-decoration: none;
  margin-right: 5px;
}
.container-small .btn-user i {
  color: #68737f;
  opacity: 0.9;
  font-size: 17px;
}
.container-small .btn-user p {
  color: #68737f;
  opacity: 0.9;
  margin: 0;
  font-size: 8px;
}

header {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 55px;
  background-color: rgba(255,255,255,0.7);
}

  header .container-small {
    display: flex;
    align-items: center;
    height: 55px;
    justify-content: space-between;
  }

 .headB {
  display: none;
  padding-top: 0;
 }

.headB ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.headB a{
display: block;
color: #262228;
font-size: 13px;
text-decoration: none;
letter-spacing: 0.5em;
}

.headB li {
  background-color: rgba(255,255,255,0.9);
  padding: 15px;
  font-weight: bold;
}

.headB li a:hover{
  color: #25b9d7;
  cursor: pointer;

}

.headB .inner{
  display: none;
}

 .headC {
  padding: none;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  color: #68737f;
  cursor: pointer;
}

.headC:hover {
  opacity: 0.4;
}



li .panel-item a{
  font-size: 10px;
  letter-spacing: 0.2em

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.footA {
  display: flex;
  margin: 10px;
  justify-content: center;
}
.footA a{
  margin: 5px;
  text-decoration: none;
  color: #A9A9A9;
  font-size: 12px;
}
.footB {
  padding: 5px;
}
.footB p{
  margin-bottom: 10px;
  font-size: 15px;
  color: #A9A9A9;
}
.footB.icon.fa {
  font-size: 16px;
  margin-left: 8px;
}

.footC p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #A9A9A9;
}





@media (min-width: 1180px) {
  header .container {
  display: flex;
/*  justify-content: space-between;*/
  max-width: 1200px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
.headB {
  display: block !important;
  margin-top: 20px;
}

.headB li {
  background-color: transparent;
  padding: 0;
  width: 155px;
  text-align: center;
}
.headB ul {
  display: flex;
  background-color: none;
}
li .panel-item {
  background-color: rgba(255,255,255,0.9);
}
li .panel-item a {
  padding: 10px 0;
}

.headB a {
  width: 150px;
  font-size: 12px;
  text-align: center;
}

.headB .inner{
  display: none;
}
.headC {
  display: none;
}
.container-small .btn-user {
  display: none;
}
}

