//search ページ
.notice {
         margin-top: 75px;
        width: 98%;
        max-width: 1200px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
  article {
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;
        margin: 8px auto;
        .list-content {
          text-decoration: none;
        }
        &:hover {
          opacity: 0.5;
        }
      h5, h6, {
        color: #000;
        text-decoration: none;
        margin: 5px;
      }
      h5 {
        font-size: 14px;
        font-weight: bold;
      }
      h6 {
        font-size: 13px;
        letter-spacing: 0.2em;
        line-height: 18px;
        color: #565656;
      }
  }
}

//showページ
.notice_page{
 display: block;
 width: 98%;
 max-width: 1200px;
 min-width: 320px;
 margin-top: 70px;
 margin-left: auto;
 margin-right: auto;
 border-radius: 5px;
 background-color: #fff;
 padding-bottom: 25px;
    .container{
      padding: 15px 5px;
      max-width: 700px;
      margin-right: auto;
      margin-left: auto;
      border-bottom: solid 0.7px #DDDDDD;
      margin-bottom: 25px;

      h5 {
        font-weight: bold;
        margin: 15px auto;
        text-align: left;
        margin-left: 10px;
      }
      p {
        font-size: 12px;
        line-height: 18px;
        margin: 15px auto;
        text-align: left;
        margin-left: 10px;
      }
      a {
        font-size: 11px;
        color: #000;
      }

                       .shere-btn {
                        display: flex;
                        width: 97%;
                        max-width: 330px;
                        margin-top: 30px;
                        margin-bottom: 25px;
                        margin-left: auto;
                        margin-right: auto;
                        justify-content: space-between;
                          .btn {
                            a {
                              letter-spacing: 0.1em;
                              color: #fff;
                              text-decoration: none;
                              padding: 8px 10px;
                              border-radius: 5px;
                              font-size: 12px;
                              font-weight: bold;
                            }
                            i {
                              margin-right: 3px;
                              font-size: 13px;
                            }
                            }
                          .facebook a {
                             background-color: #073590;
                             padding: 8px 16px;
                            }
                          .twitter a {
                            background-color: #1da1f2;
                            padding: 8px 13px;
                          }
                          .line a{
                            background-color: #00c300;
                          }
                       }

    }
}
.userA{
  margin-top: 15px;
  h5 {
    font-weight: bold;
    font-size: 14px;
    color: #565656;
    letter-spacing: 0.3em;
  }
}

.notice_user {
  margin-top: -60px;
}
