// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index-container {
display: block;
margin-top: 80px;
width: 99%;
margin-left: auto;
margin-right: auto;
max-width: 1200px;
display: flex;

         article {
                 display: block;
                 border: solid 1px #A9A9A9;
                 border-radius: 8px;
                 padding: 6px;
                 width: 45%;
                 max-width: 400px;

                    img {
                      width: 100%;
                    }
                 }
}
