// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページ

.boxtypeA{
  margin-top: 70px;
  display: block;
  text-align: center;

    p {
    font-size: 13px;
    letter-spacing: 0.2em;
    margin-bottom: 35px;
    color: #262228;
    }

 h1 {
    letter-spacing: 0.3em;
    font-size: 10vw;
    color: #262228;
 }

 .container {
    display: block;
 }

  .button1{
    display: block;
    padding: 2px 3px;
    width: 200px;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #0375b4;

      p {
        margin: 5px 0;
        width: 100%;

         a{

          font-size: 15px;
         }

      }
  }

  .button2 {
    background-color: #0375b4;
  }

  .button2 a{
   letter-spacing: 1.2em;
   color: #fff;
  }


  a{
  text-decoration: none;
    color: #0375b4;
      font-size: 25px;
  letter-spacing: 0.5em;
  }

.button1:hover {
  opacity: 0.7;
}

}


@media (max-width: 767px) {
 .container{
  .button1{
    margin: 20px auto;
    padding: 1px 3px;
        width: 210px;
 a{
        font-size: 12px;
 }


  }
 }
}


@media (min-width: 768px){

 .boxtypeA{
  width: 1200px;
  margin: 0 auto;

       p {
    margin-bottom: 65px;
    }


  h1{
    font-size: 75px;
    margin-top: 80px;
  }
 .container {
  display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: space-around;
 }

 }

}
