// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// トップページ
.boxtypeA{
  margin-top: 100px;
  display: block;
  text-align: center;
  width: 100vw;
  justify-content: center;

    p {
    font-size: 11px;
    letter-spacing: 0.2em;
    margin-bottom: 25px;
    margin-top: 5px;
    }
  .colorful span:nth-child(1) { color: #df0067; }
  .colorful span:nth-child(2) { color: #251b5b; }
  .colorful span:nth-child(5) { color: #251b5b; }
  // .colorful span:nth-child(3) { color: #25b9d7; }
  .colorful span:nth-child(4) { color: #fbbb22; }
  // .colorful span:nth-child(6) { color: #df0067; }
  .colorful span:nth-child(7) { color: #251b5b; }
  .colorful span:nth-child(8) { color: #25b9d7; }
  // .colorful span:nth-child(9) { color: #fbbb22; }

 h1 {
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 10vw;
    color: #262228;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
 }

 .container {
    display: block;
    max-width: 1200px;
    margin-top: 60px;
 }

  .button1{
    display: block;
    padding: 2px 3px;
    width: 200px;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
    background-color: #F7F7F7;
    border: solid 1px #251b5b;

         a{
          display: inline-block;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.5em;
          text-decoration: none;
          color: #251b5b;
          padding: 10px;
          margin-left: 5px;
         }
  }

  .button2 {
    background-color: #251b5b;
     a{
     letter-spacing: 1.2em;
     color: #F7F7F7;
     text-decoration: none;
     margin-left: 1.2em;
    }
  }

.button1:hover {
  opacity: 0.7;
}
}


// ABOUTペーじ

.boxtypeB{
  margin-top: 80px;
  display: block;
  text-align: center;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  min-width: 290px;
  max-width: 1200px;
  border-radius: 6px;
  padding: 20px 7px;
   .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
       h2{
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 0.1em;
       }
      p {
        padding: 0;
        font-weight: bold;
        margin-left: 10px;
      }
   }
   .textA {
    margin: 25px 10px;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    h3 {
      font-weight: bold;
      font-size: 19px;
      line-height: 28px;
      margin-bottom: 20px;
      letter-spacing: 0.1em;
      color: #df0067;
    }
      p {
        font-size: 13px;
        letter-spacing: 0.1em;
        line-height: 18px;
      }
   }

   .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 0.7px #DDDDDD;
    border-top: solid 0.7px #DDDDDD;
     article {
      display: flex;
      width: 70%;
      flex: 1 1 250px;
      min-width: 250px;
      margin: 35px 15px;
      justify-content: center;
      .text {
        width: 80%;
      h3 {
        padding-top: 7px;
        font-weight: bold;
        letter-spacing: 0.3em;
        color: #251b5b;
      }
      p {
        font-size: 11px;
        margin-top: 16px;
        line-height: 15px;
        font-weight: bold;
      }
    }
      .icon {
        background-color: #251b5b;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-right: 10px;
       i.fa {
         color: #fff;
         font-size: 45px;
         display: table-cell;
         vertical-align: middle;
         width: inherit;
         height: inherit;
         }
       }
    }
  }

  .contentB{
    padding: 35px 10px;
      max-width: 820px;
    margin-left: auto;
    margin-right: auto;
     h3{
      font-weight: bold;
      margin-bottom: 30px;
      line-height: 19px;
     }
     .info {
      li {
      margin-bottom: 35px;
      h4{
        font-size: 14px;
        line-height: 19px;
        font-weight: bold;
        margin: 15px auto;
        i.fa {
          color: #fbbb22;
          margin-right: 3px;
        }
      }
      p {
        font-size: 13px;
        line-height: 19px;
        font-weight: 500;
      }
     }
    }
  }
  .contentC {
    background-color: #251b5b;
    padding: 25px 5px;
     h3{
      font-weight: 500;
      margin-bottom: 30px;
      line-height: 30px;
      color: #fff;
      font-size: 20px;
     }
    .button1{
    display: block;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    background-color: #F7F7F7;
    padding: auto 5px;
    margin-bottom: 25px;
      a {
        font-size: 22px;
        line-height: 80px;
        text-decoration: none;
        letter-spacing: 0.1em;
        color: #36454f;
      }
    }
  }


}



@media (max-width: 767px) {
 .container{
  .button1{
    margin: 20px auto;
        width: 210px;
 a{
        font-size: 16px;
 }


  }
 }
}


@media (min-width: 768px){

 .boxtypeA{
  max-width: 1200px;
  margin: 0 auto;

       p {
    margin-bottom: 65px;
    }


  h1{
    font-size: 75px;
    margin-top: 80px;
  }
 .container {
  display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: space-around;
 }
 }



}
