// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// マイページ
.user_page{
display: block;
margin-top: 75px;
width: 100%;

  .container{
       width: 100%;
       margin-left: auto;
       margin-right: auto;
 .swiper-container.swiper-container-horizontal {
      width: 93%;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      max-width: 1200px;
   }
   .userA {
      margin-bottom: 2.5px;
      border-radius: 5px;
      width: 93%;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      padding: 10px;
        .proA{
          display: flex;
          width: 100%;
           .image{
                 width: 90px;
                 height: 100%;
                 border-radius: 50px;
                 }
            .proA-text {
              text-align: left;
              padding-top: 10px;
              padding-left: 10px;
              width: 98%;
              h4 {
                font-size: 15px;
                letter-spacing: 0.1em;
                font-weight: bold;
                margin-bottom: 6px;
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                color: #333333;
              }
              a {
               color: #333333;
               font-size: 11px;
              }
            .edituser.post {
              margin-top: 5px;
            display: flex;
                  a{
                    width: 60px;
                    margin-right: 2px;
                    font-size: 11px;
                    text-align: center;
                    border-radius: 10px;
                    background-color: #25b9d7;
                    color: #fff;
                    padding: 4px 5px;
                    text-decoration: none;
                    letter-spacing: 0.3em;
                    font-weight: bold;
                     &:hover {
                      background-color: #251b5b;
                     }
                  }
            }
         }
       }

  .profile {
        width: 100%;
        height: 100%;
        margin: auto auto;
        display: none;

  li.btn3 {
    display: flex;
  }
      li{
          list-style: none;
           margin: 10px 0;
           text-align: left;
             .btn-block {
              border-radius: 17px;
              background-color: #fff;
              border: solid 1px #25b9d7;
              padding: 2px 12px;
              margin-right: 2px;
                a, i {
                  color: #25b9d7;
                  font-size: 11px;
                }
                &:hover {
                  background-color: #25b9d7;
                    a, i {
                    color: #fff;
                   }
                  }
             }
              .mail {
                text-decoration: none;
                border-radius: 17px;
                padding: 5px 13px;
                border: solid 1px #251b5b;
                color: #251b5b;
                font-size: 11px;
                margin: auto 2px;
                i.fa {
                  color: #251b5b;
                  margin-right: 3px;
                }
                &:hover {
                  background-color: #251b5b;
                  color: #fff;
                i.fa {
                  color: #fff;
                }
                }
              }

                 p {
                  text-align: left;
                   display: inline-block;
                   background-color: #e9ebec;
                   border-radius: 10px;
                   padding: 2px 6px;
                   margin-bottom: 5px;
                     a {
                      text-decoration: none;
                      font-size: 10px;
                      color: #333333;
                      font-weight: 450;
                      }
                        &:hover {
                          background-color: #25b9d7;
                         a{
                         color: #fff;
                          }
                        }
                    }

                     a, i {
                       letter-spacing: 0.1em;
                       font-size: 11px;
                       color: #333333;
                       font-weight: 530;
                       }
          }

       text{
              p {
                font-size: 11px;
                letter-spacing: 0.1em;
                line-height: 18px;
                text-align: left;
                color:  #333333;
                }
           }
              .follow {
                display: flex;
                margin-bottom: 20px;

                .follow_btn {
                  display: block;
                  width: 90px;
                  max-width: 145px;
                  margin-top: 10px;
                  border-radius: 17px;
                  text-decoration: none;
                  background-color: #251b5b;
                  margin-right: 2px;
                    &:hover {
                      background-color: #25b9d7;
                    }
                  p{
                    color: #fff;
                    font-size: 11px;
                    margin: 0;
                    font-weight: bold;
                    line-height: 18px;
                    margin: 2px 0;
                  }
                }
        }
   }
              // ここまでが.profile
        .textarea{
                     p {
                       letter-spacing: 0.3em;
                       font-size: 13px;
                       max-width: 1130px;
                       margin-left: auto;
                       margin-right: auto;
                       }
                  }
      .proB {
        border: solid 2px #e1e8ed;
        width: 99%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        border-radius: 17px;
        background-color: #e1e8ed;
          p {
            font-size: 12px;
            letter-spacing: 0.1em;
            line-height: 18px;
            color: #fff;
            font-weight: bold;
          }
        &:hover {
           p {
            color: #25b9d7;
           }
        }
      }
}
   // ここまでがuserA
        .userB{
          border-bottom: solid 1px #DDDDDD;
          padding-bottom: 10px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          .product_post{
          a {
           font-size: 12px;
          text-decoration: none;
          color: #25b9d7;
          font-weight: bold;
          letter-spacing: 0.1em;
          }
          h5 {
            font-size: 12px;
            font-weight: bold;
            margin: 20px;
          }
          h6 {
            color: #565656;
            font-size: 10px;
            margin: 10px;
          }
        }
          p {
            font-size: 12px;
            letter-spacing: 0.2em;
            margin: 20px;
            font-weight: bold;
          }
             .btn {
              background-color: #fbbb22;
              margin-left: 10px;
              padding: 2px 5px;
              border-radius: 10px;
              border: none;

                   a  {
                    color:  #fff;
                    font-size: 11px;
                    letter-spacing: 0.1em;
                    text-decoration: none;
                    font-weight: bold;
                    padding: 3px;
                     &:hover {
                      text-decoration: underline;
                     }
                   }
             }
          .swiper-wrapper, .notice {
            width: 100%;
            height: 100%;
            padding-bottom: 20px;
          }
        }
      }
// ここまでが .container

}
// ここまでが.user_page




@media (min-width: 768px){
.user_page{

   .userA{
         // display: flex;
         max-width: 1200px;
         padding: 100px;
             .image{
                   max-width: 450px;
                   position: center;
                   max-height: 300px;
                   margin-left: 0;
                   }

          .profile{
                   margin-left: 20px;
                   a{
                    font-size: 14px;
                     }
                   }
         }
        }
}
