// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// マイページ
.user_page{
display: block;
margin-top: 70px;
margin-left: auto;
width: 100%;
margin-right: auto;

       .container{
                 display: block;
                 border-radius: 8px;
                 padding: 8px;
                 width: 100%;

       .userA {
        margin-bottom: 2.5px;
        border: solid 1px #A9A9A9;
        border-radius: 5px;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;

           .image{
                 width: 100%;
                 max-width: 500px;
                 background-color: #696969;
                 height: 100%;
                 max-height: 450px;
                 }

            .profile {
                      width: 90%;
                      max-width: 650px;
                      height: 100%;
                      margin: auto auto;


                     .edituser.post {
                      display: inline-block;
                      background-color: #0375b4;
                      padding: 2px 10px;
                      border-radius: 3px;
                      margin-bottom: 10px;

                            a{
                              font-size: 13px;
                              color: #fff;
                              text-decoration: none;
                              letter-spacing: 0.3em;
                               &:hover {
                                text-decoration: underline;
                               }
                            }
                     }

                          h4 {
                             letter-spacing: 0.4em;
                             margin-bottom: 5px;;
                             }

                          li{
                            list-style: none;
                            margin-left: -30px;

                                 p {
                                       font-size: 10px;
                                       display: inline-block;
                                       margin: 0;
                                       padding: 1px 3px;
                                       margin-right: 3px;
                                       background-color: #c5c1c0;
                                       border-radius: 3px;

                                      a {
                                          text-decoration: none;
                                          font-size: 11px;
                                         }
                                   }
                                 a {
                                   letter-spacing: 0.2em;
                                   font-size: 12px;
                                   letter-spacing: 0.2em;
                                   color: #000000;
                                   }
                              }

                         text{
                                p {
                                  font-size: 11px;
                                  letter-spacing: 0.2em;
                                  }
                             }
                      .follow {
                        display: flex;
                        width: 220px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;

                          .follow_btn {
                            display: block;
                            width: 100px;
                            a {
                              color: #000000;
                            }
                            p{
                              color: #c5c1c0;
                              font-size: 11px;
                              margin: 0;
                            }
                          }
                      }

                      }
              // ここまでが.profile

        .textarea{
                     p {
                       letter-spacing: 0.3em;
                       font-size: 13px;
                       max-width: 1130px;
                       margin-left: auto;
                       margin-right: auto;
                       }
                  }
           }

        .userB{
          border-bottom: solid 1px #DDDDDD;
          padding-bottom: 10px;
          width: 96%;
          margin-left: auto;
          margin-right: auto;

             .btn {
              background-color: #fba100;
              margin: 5px 10px 10px 10px;
              padding: 4px 20px;
              border-radius: 3px;
              border: none;

                   a  {
                    color:  #fff;
                    font-size: 13px;
                    text-decoration: none;
                    letter-spacing: 0.3em;
                     &:hover {
                      text-decoration: underline;
                     }
                   }
             }
          .swiper-wrapper {
            width: 100%;
            height: 100%;
            padding-bottom: 20px;
          }
        }
      }
// ここまでが .container

}
// ここまでが.user_page




@media (min-width: 768px){
.user_page{
            max-width: 1200px;

   .userA{
         display: flex;
             .image{
                   max-width: 450px;
                   position: center;
                   max-height: 300px;
                   margin-left: 0;
                   }

          .profile{
                   margin-left: 20px;
                   a{
                    font-size: 14px;
                     }
                   }
         }
        }
}
