// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_page{
  display: block;
  margin-top: 80px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;

 .container{
  display: block;
  border: solid 1px #000000;
   border-radius: 25px;
   padding: 20px;

  .image{
    width: 100%;
    max-width: 630px;
    background-color: red;
    border-radius: 25px;
   margin-right: auto;
   margin-left: auto;
  }

  .profile {
    width: 100%;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;

    h4 {
     letter-spacing: 0.4em;
     margin-bottom: 5px;;
    }
    li{
    list-style: none;
    margin-left: -30px;
    a{
     letter-spacing: 0.3em;
     font-size: 13px;
    }
  }
}

.textarea{
  p {
    letter-spacing: 0.3em;
    font-size: 13px;
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
  }
}

 }

}

@media (min-width: 768px){
  .user_page{
  width: 1200px;

   .userA{
     display: flex;
      .image{
      max-width: 450px;
      position: center;
      max-height: 300px;

      }
      .profile{
         a{
         font-size: 14px;
         }
      }
   }
 }
}
