<p>ようこそ、【<%= @user.name %>】様</p>
<hr >

<p>Archinectをご利用いただきありがとうございます。</p>

<p>仮登録が完了しました。<br/>下記URLにアクセスし、会員登録手続きを完了してください。</p>

<p><%= link_to 'アカウント本登録はこちら', confirmation_url(@resource, confirmation_token: @token) %></p>
<br/>
<p>◎アーキネクトのご利用方法</p><br/>

<p>１. ログイン後、マイページのプロフィール編集のところからプロフィールを埋めましょう。</p>
   <p> ※項目が埋まっている方が検索されやすくなります。</p><br/>

<p>２. マイページのお知らせ掲載部分では、求人やイベントやオープンデスク情報を保存・編集できます。</p>
    <p>保存後、メニューのNEWSにジャンルごとに振り分けられます。</p><br/>

<p>３. 手がけた設計・デザインの情報や写真が投稿できます。</p>
  <p>投稿後、SNSで共有やコメントをもらったり、作品を通して沢山の人と繋がることが出来ます。</p><br/>

<hr >

<p>建物を通して人との繋がりを作る</p>
<p>Archinect-Japan</p>

<p><%= link_to 'Archinectについて', top_about_path %></p>
<p><%= link_to 'お問い合わせはこちら', inquiries_path %></p>
