<p>【 <%= @user.name %> 】 様</p>
<hr >

<p>Archinectをご利用いただきありがとうございます。</p>


<p>パスワード変更の再設定を行います。以下のURLより設定を行ってください。</p>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>上記URLで設定を完了するまで、パスワードは変更されません。</p>
<p>※このメールは、Archinectより自動的に送信されています。<br >このメールに心当たりのない場合やご不明な点がある場合は何もする必要はございません。</p>

<hr >
<p>Archinect-Japan</p>

<p><%= link_to 'Archinectについて', top_about_path %></p>
<p><%= link_to 'お問い合わせはこちら', inquiries_path %></p>
