<%= stylesheet_link_tag    'product/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="product_page">
<div class="createpage">
<p>
  お問い合わせが完了しました。
</p>
<%= link_to "戻る", user_path(@user) %>
</div>
</div>
