
<div class="nested-fields" >
<div class="form photos">
<%= f.file_field :photo, id: "photos" %>
<%= f.hidden_field :photo_cache, id: "photos_hidden"  %>
<%= link_to_remove_association fa_icon("minus-circle"), f, id: 'remove-link' %>
</div>
</div>

