<div class="nested-fields" >
<div class="form photos">
<%= f.file_field :photo, id: "photos", class: 'photos product form photo', data: "data" %>
<div class="photo-fields" id="preview"></div>
<%= f.hidden_field :photo_cache, id: "photos_hidden" %>
<%= link_to_remove_association fa_icon("minus-circle"), f, id: 'remove-link', data:{confirm: '削除しますか？'} %>
</div>
</div>

