<%= stylesheet_link_tag    'product/show', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="product_page">
  <div class="createpage">
  <p>投稿が完了しました。</p>
  <div class="btn">
  <%= link_to "ページを確認する", product_path(@product) %>
  </div>
  <div class="btn">
  <%= link_to "マイページへ移動する", user_path(current_user) %>
</div>
</div>
</div>
