<%= stylesheet_link_tag    'product/new', media: 'all', 'data-turbolinks-track': 'reload' %>
<% provide :title, "編集ページ | " %>

<div class="product_new">

<div class="container">

<h3>編集</h3>

<%= render 'form', product:@product %>


　</div>
</div>

