<%= stylesheet_link_tag    'product/new', media: 'all', 'data-turbolinks-track': 'reload' %>


<div class="product_new">

<div class="container">

<h3>建築事例を投稿</h3>
<p>（ ※は必須 ）</p>

<%= render 'form', product:@product %>


　</div>
</div>








