<%= stylesheet_link_tag    'product/new', media: 'all', 'data-turbolinks-track': 'reload' %>
<% provide :title, "新規作成 | " %>

<div class="product_new" id="product_new">

<div class="container">

<h3>建築事例を投稿</h3>
<h4>（ ※は必須 ）</h4>
<%= render 'form', product:@product %>
　</div>
</div>







