// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザー　一覧ページ

.user_index {
display: block;
margin-top: 70px;
width: 97%;
margin-left: auto;
margin-right: auto;
max-width: 1200px;
display: flex;
flex-wrap: wrap;

  .user_search {
    font-size: 13px;
    margin: 20px;
  }

    article {
    height: 110px;
    border-radius: 5px;
    min-width: 320px;
    flex: 1 1 300px;
    margin: 2.5px;
    padding: 10px 5px;
    background-color: #fff;

       .contentA {
        width: 100%;
        display: flex;

                .img {
                   height: 85px;
                   max-width: 143px;
                   border-radius: 50px;
                   margin-right: 5px;
                 }
             .conA {
             height: 120px;
             width: 100%;
             text-align: left;

               .con1 {
                margin-bottom: 15px;
                margin-top: 5px;
                a {
                  font-size: 14px;
                  font-weight: bold;
                  color: #fff;
                  font-weight: bold;
                  text-decoration: none;
                  letter-spacing: 0.2em;
                  background-color: #251b5b;
                  padding: 4px 9px;
                  border-radius: 18px;
                  &:hover {
                    text-decoration: underline;
                  }
                }
               }

               .con3{
                margin-bottom: 3px;
                p {
                  width: 100%;
                  font-size: 12px;
                  margin-left: 0;
                  font-weight: bold;
                }
               }

               .con2 {
                width: 100%;
                      .tagA {
                        p {
                          display: inline-block;
                          margin-top: 3px;
                            a {
                             text-decoration: none;
                             letter-spacing: 0.2em;
                             color: #68737f;
                             font-size: 11px;
                               &:hover {
                                color: #25b9d7;
                                text-decoration: underline;
                               }
                              }
                            }
                           }

               }
           }
       }

       .contentB {
        width: 100%;
        height: 50px;
        padding: 5px;
           p {
            font-size: 11px;
            letter-spacing: 0.2em;
            color: #4D4D4D;
            line-height: 18px;
           }
       }
    }
}

 .paginate {
    margin-top: 15px;
    .page.current {
        color: #df0067;
        font-weight: bold;
        font-size: 15px;
        margin-right: 3px;

    }
    a {
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: #68737f;
    }
 }

@media (max-width: 325px) {
// .contentA{
//   .conA.con1{
//     h5 {
//       font-size: 5px;
//       margin: 5px;
//     }
//   }
// }
}



