// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザー　一覧ページ

.user_index {
display: block;
margin-top: 70px;
width: 97%;
margin-left: auto;
margin-right: auto;
max-width: 1200px;
display: flex;
flex-wrap: wrap;

    article {
    border: solid 1px #A9A9A9;
    border-radius: 5px;
    padding: 3px;
    min-width: 300px;
    flex: 1 1 300px;
    margin: 1.5px;

       .contentA {
        width: 100%;
        height: 100px;
        display: flex;

            .imgA {
              height: 100%;
                .img {
                   height: 100%;
                 }
             }

             .conA {
             height: 100%;
             width: 100%;

               .con1 {
                display: flex;
                height: 30%;
                min-height: 35px;

                  p {
                   font-size: 14px;
                   letter-spacing: 0.25em;
                   margin: 10px;
                    a {
                      color: #000;
                    }
                  }
               }

               .con2 {
                width: 100%;
                text-align: left;
                height: 70%;
                padding: 0 5px;
                                 p {
                                       margin: 5px;
                                      a {
                                          display: inline-block;
                                          text-decoration: none;
                                          background-color: #c5c1c0;
                                          font-size: 10px;
                                          padding: 1px 5px;
                                          border-radius: 3px;
                                         }
                                   }
               }
           }
       }

       .contentB {
        width: 100%;
        height: 50px;
           p {
            font-size: 12px;
            letter-spacing: 0.2em;
           }
       }

    }
}




