// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ユーザー　一覧ページ

.user_index {
display: block;
margin-top: 70px;
width: 99%;
margin-left: auto;
margin-right: auto;
max-width: 1200px;
display: flex;
flex-wrap: wrap;

    article {
    height: 120px;
    border-radius: 5px;
    min-width: 320px;
    flex: 1 1 300px;
    margin: 2.5px;
    background-color: #fff;

       .contentA {
        width: 100%;
        height: 120px;
        display: flex;

            .imgA {
              height: 100%;
                .img {
                   height: 100%;
                   border-radius: 5px;
                 }
             }

             .conA {
             height: 100%;
             width: 100%;

               .con1 {
                display: flex;
                height: 30%;
                min-height: 35px;
             h5 {
              margin: 10px;
              font-size: 15px;
                a {
                  color: #000;
                  font-weight: bold;
                  text-decoration: none;
                  letter-spacing: 0.2em;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }

                  p {
                   font-size: 13px;
                   letter-spacing: 0.25em;
                   margin: 10px;
                    a {
                      color: #000;
                      text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                  }
                    }
                  }
               }
               .con3{
                text-align: left;
                padding: 0 10px;
                p {
                  width: 100%;
                  font-size: 12px;
                  margin-left: 0;
                }
               }

               .con2 {
                width: 100%;
                text-align: left;
                padding: 0 5px;
                      .tagA {
                        p {
                          display: inline-block;
                          margin-top: 5px;
                            a {
                             text-decoration: none;
                             font-size: 10px;
                             letter-spacing: 0.2em;
                             color: #68737f;
                             font-weight: bold;
                               &:hover {
                                color: #25b9d7;
                                text-decoration: underline;
                               }
                              }
                            }
                           }

               }
           }
       }

       .contentB {
        width: 100%;
        height: 50px;
        padding: 5px;
           p {
            font-size: 11px;
            letter-spacing: 0.2em;
            color: #4D4D4D;
            line-height: 18px;
           }
       }
    }
}

@media (min-width: 768px) {

}



