

.index-container {
display: block;
margin-top: 70px;
max-width: 1200px;
display: flex;
// flex: 1 1 200px;

    article {
        display: block;
        border: solid 1px #A9A9A9;
        border-radius: 5px;
        padding: 3px;
        width: 48%;
        max-width: 380px;
        min-width: 150px;
        flex: 1 1 150px;
        margin: 1.5px;


                img {
                   width: 100%;

                   &:hover {
                     opacity: 0.6;
                   }
                 }

            .text {
                p, a {
                 margin: 0;
                 color: #565656;
                 // padding: 0;
                 font-size: 11px;
                 letter-spacing: 0.3em;
                }
                .title p {
                    color: #000;
                }
            }
     }
}

.search {

    margin-top: 70px;

}


@media (min-width: 768px) {
   .index-container {
    width: 97%;
   article {
      .text {
             p {
                 margin: 5px;
                 // padding: 0;
                 font-size: 13px;
                 letter-spacing: 0.3em;
                }
            }
    }
  }



}
