

.swiper-wrapper {

// flex: 1 1 200px;

    .swiper-slide {
        display: block;
        border-radius: 5px;
        padding: 0;
        width: 25%;
        height: 100%;
        max-width: 350px;
        min-width: 150px;
        margin: 1.5px;
        background-color: #fff;


                img {
                   width: 100%;
                   border-radius: 5px 5px 0 0;

                   &:hover {
                     opacity: 0.6;
                   }
                 }

            .text {
                width: 100%;
                h5 {
                 margin: 3px;
                 letter-spacing: 0.2em;
                }
                p i {
                    margin: 0;
                }
                 a {
                    text-decoration: none;
                    background-color: #bbbfc3;
                    color: #fff;
                    padding: 3px 6px;
                    font-size: 9px;
                    border-radius: 3px;
                    &:hover {
                     background-color: #25b9d7;
                    }
                }
                .title p {
                    color: #000;
                }
            }
     }
}

.search {

    margin-top: 70px;

}


@media (min-width: 768px) {
   .index-container {
    width: 97%;
   article {
      .text {
             p {
                 margin: 5px;
                 // padding: 0;
                 font-size: 13px;
                 letter-spacing: 0.3em;
                }
            }
    }
  }


}
