

.index-container {
display: block;
margin-top: 0;
width: 100%;
height: 100%;
display: flex;
// flex: 1 1 200px;

    .swiper-slide {
        display: block;
        border: solid 1px #A9A9A9;
        border-radius: 5px;
        padding: 0;
        width: 25%;
        height: 100%;
        max-width: 350px;
        min-width: 140px;
        margin: 1.5px;


                img {
                   width: 100%;
                   border-radius: 5px 5px 0 0;

                   &:hover {
                     opacity: 0.6;
                   }
                 }

            .text {
                p, a {
                 margin: 0;
                 color: #565656;
                 // padding: 0;
                 font-size: 11px;
                 letter-spacing: 0.2em;
                }
                .title p {
                    color: #000;
                }
            }
     }
}

.search {

    margin-top: 70px;

}


@media (min-width: 768px) {
   .index-container {
    width: 97%;
   article {
      .text {
             p {
                 margin: 5px;
                 // padding: 0;
                 font-size: 13px;
                 letter-spacing: 0.3em;
                }
            }
    }
  }


}
